# Build artifacts
/build/
/out/
/bin/
/cmake-build-*/
/dist/
**/.build/

# Dependencies
/_deps/

# CMake
CMakeFiles/
CMakeCache.txt

# Compiled files
*.o
*.a
*.so
*.dll
*.exe

# Macos
.DS_Store
**/.DS_Store

.vs/*
.claude/*
